.b
{
    border:1px solid black !important;
}
legend{
    width:auto;
    padding:0 10px; 
    border-bottom:none;
    font-size: 14px;
}
label{
    font-size: 12px;
}
/*.col-md-12
{
    padding-right: 5px !important;
    padding-left: 5px !important;
}*/