<fieldset class="col-sm-3 col-md-8 col-lg-6 b">
    <legend>Add topics</legend>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Course Name :</label>
            <select class="form-control" id="cname" [(ngModel)]="test.courseId" name="courseID" #mySelect
            (change)='onOptionsSelected(mySelect.value)'>
                <option *ngFor="let sub of course" value="{{sub.courseID}}">{{sub.course_name}}</option>

            </select>
        </div>

        <div class="form-group">
            <label>Subject Name :</label>
            <select class="form-control" id="sname" [(ngModel)]="test.subjectId" name="subjectId"  >
                <option *ngFor="let sub of getSubject" value="{{sub.subjectId}}">{{sub.subjectName}}</option>

            </select>
        </div>
        <div class="form-group">
            <label>Topic name :</label>
            <input class="form-control" id="tname" name="sdescription" [(ngModel)]="test.topicName" placeholder="Subject Description">
        </div>
        <div class="form-group">
            <label>Topic Description :</label>
            <input class="form-control" id="tdes" name="sdescription" [(ngModel)]="test.description" placeholder="Subject Description">
        </div>
        <div class="form-group">
            <label>Topic duration :</label>
            <input type="text" id="duration" class="form-control" [(ngModel)]="test.duration" name="duration" placeholder="Topic Duration">
            </div>
        <button class="btn btn-primary my-2" id="subm" data-toggle="modal" data-target="#exampleModal">Submit</button>
        <br>

    </form>
</fieldset>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="result1; then condition1 else condition2"></div>
          <ng-template #condition1>Success</ng-template>
          <ng-template #condition2>Failed</ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="gotoadd()">Next</button>
        </div>
      </div>
    </div>
  </div>
  <fieldset class="col-sm-3 col-md-8 col-lg-6">
  
  <div class="card my-5">
    <div class="card-body">
    <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
    
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let courses of topic1">
   
    <td>{{ courses.topicName }}</td>
    <td>{{ courses.description }}</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </fieldset>
    
   