<fieldset class="col-sm-3 col-md-6">
  <legend>Trainer Information</legend>
  <form (ngSubmit)="onSubmit()">
  <div class="form-group">
  <label>Trainer Name :</label>
  <input class="form-control" id="trainername" name="name" [(ngModel)]="trainer.trainerName" placeholder="Trainer Name">
  </div>
  <div class="form-group">
  <label>Qualification :</label>
  <input class="form-control" name="quali" id="qualification" [(ngModel)]="trainer.trainerQualification" placeholder="Qualification">
  </div>
  <div class="form-group">
  <label>Mobile No. :</label>
  <input class="form-control" name="mobile" id="trainermbno" [(ngModel)]="trainer.mobile" placeholder="Mobile no">
  </div>
  <div class="form-group">
  <label>Mail Id :</label>
  <input class="form-control"  name="mail" id="trainermailid" [(ngModel)]="trainer.mailId" placeholder="Mail id">
  </div>
  <div class="form-group">
  <label>Technology Taken :</label>
  <select class="form-control"  name="techtaken" id="technologytaken" [(ngModel)]="trainer.technologyUndertaken" placeholder="Technology Taken" >
  <option>Java</option>
  <option>UI/UX</option>
  <option>DotNet</option>
  </select>
  </div>
  <div class="form-group">
          <label>Trainer Password</label>
          <input type="password" id="trainerpassword" class="form-control" [(ngModel)]="trainer.trainerPassword" name="studentcollege" placeholder="password">
          </div>
        
  <button class="btn btn-primary my-2" id="subm" data-toggle="modal" data-target="#exampleModal">Submit</button>
  <br>
  </form>
  </fieldset>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div *ngIf="result1; then condition1 else condition2"></div>
                <ng-template #condition1>Success</ng-template>
                <ng-template #condition2>Failed</ng-template>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
        