<div class="d-lg-flex d-md-flex flex-row">
    <fieldset class="col-sm-3 col-md-4">
        <legend>Batch Selection Details</legend>
        <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                        <label>Month and Year of joining</label>
                        <input type="date" id="btyop" class="form-control" name="cdescription" placeholder="Year of passing"  >
                        </div>
                        <div class="form-group">
                                <label>Course</label>
                                <select id="cname">
                                  <option *ngFor="let batch of course" value= {{batch.courseID}}>
                                     {{batch.coursename}}
                                  </option>
                                </select>
                                <br/>
                               Name:{{batch.coursename}}
      
                              </div>
                              <div class="form-group">
                                    <label>Type of Student</label>
                                    <select class="form-control"  id="type" name="stu" [(value)]="select1" >
                                
                                     <option value="Upskilling">UpSkilling</option>
                                      <option value="Fresher">Fresher</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                        <label>Batch Name Generation</label>
                                        <input type="text" class="form-control" id="btname" >{{select1}}
                                        </div>
                                        <div class="form-group">
                                                <label>Course Selection</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Java</option>
                                                        <option>UI/UX</option>
                                                        <option>Testing</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                    <label>Student Status</label>
                                                    <select class="form-control" id="exampleFormControlSelect2">
                                                      <option>Finished</option>
                                                      <option>Current</option>
                                                      <option>Upcoming</option>
                                                    </select>
                                                  </div>
                                                  <button class="btn btn-primary my-2">Submit</button>
                                                  <br>
                                                </form>
                                            </fieldset>
                                            </div>