<div class="container-fluid">
    <div class="col-lg-12 mt-5">
<div class="d-flex justify-content-center">
<div class="card"  style="width: 18rem;">
    <h5 class="card-header"><b>Login</b></h5>
<div class="card-body">
    <form>
<div class="form-group">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
      </div>
  <input type="input" class="form-control" id="username" name="name" placeholder="Enter username">
</div></div>
<div class="form-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock fa-lg"></i></span>
          </div>
  <input type="password" class="form-control" id="password" name="pass" placeholder="Password">
</div></div>
<button class="btn btn-primary" id="loginsubmit" (click)="onsubmit()">Submit</button>
</form>
</div></div></div></div></div>