<form (ngSubmit)="onSubmit()">
  <div class="d-lg-flex d-md-flex flex-row">
      <fieldset class="col-sm-3 col-md-4 ">
          <legend>Student Details</legend>
          <div class="form-group">
          <label>Student Name</label>
          <input type="text" class="form-control" name="sname"  placeholder="Student Name">
          </div>
          <div class="form-group">
          <label>Date of Joining</label>
          <input type="date" class="form-control" name="sdoj"  placeholder="Date of Joining">
          </div>
          <div class="form-group">
              <label>Mobile No</label>
              <input type="tel" class="form-control" name="smob"  placeholder="Mobile no">
              </div>
              <div class="form-group">
              <label>Mail Id</label>
              <input type="email" class="form-control" name="smid"  placeholder="Mail Id">
              </div>
          <div class="form-group">
          <label>Bond</label><br>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
              <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
              <label class="form-check-label" for="inlineRadio2">No</label>
            </div></div>
            <div class="form-group">
              <label>Training Duration</label>
              <input type="date" class="form-control" name="Duration" placeholder="Training Duration">
              </div>
              <div class="form-group">
                  <label>Salary Type</label><br>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Stipend">
                      <label class="form-check-label" for="inlineRadio1">Stipend</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Salary">
                      <label class="form-check-label" for="inlineRadio2">Salary</label>
                    </div></div>
                    
      </fieldset>
  <fieldset class="col-sm-3 col-md-4 ml-1">
    <legend>Amenities</legend>
    <div class="form-group">
    <label>Student Stay</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="DayScholar">
      <label class="form-check-label" for="inlineRadio1">DayScholar</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Hostel">
      <label class="form-check-label" for="inlineRadio2">Hostel</label>
    </div>
    </div>
    <div class="form-group">
      <label>Student Status</label><br>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="In Training">
          <label class="form-check-label" for="inlineRadio1">In Training</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Deployed">
          <label class="form-check-label" for="inlineRadio2">Deployed</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Terminated">
          <label class="form-check-label" for="inlineRadio2">Terminated</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Discontinued">
          <label class="form-check-label" for="inlineRadio2">Discontinued</label>
        </div></div>
    <div class="form-group">
    <label>College</label>
    <input type="text" class="form-control" name="college"  placeholder="Date of Joining">
    </div>
    <div class="form-group">
      <label>Qualification</label>
      <select class="form-control"  name="Qualification">
        <option *ngFor="let sub of course" value="{{sub.courseID}}">{{sub.course_name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Stream</label>
      <select class="form-control"  name="Stream">
        <option *ngFor="let sub of course" value="{{sub.courseID}}">{{sub.course_name}}</option>
      </select>
    </div>
      <div class="form-group">
        <label>Year of passing</label>
        <input type="date" class="form-control" name="yop" placeholder="Year of passing">
        </div>    
        <div class="form-group">
          <label>Mode of selection</label>
          <select class="form-control" value="">
            <option>On Campus</option>
            <option>Off Campus</option>
            <option>Reference</option>
          </select>
        </div>
  </fieldset>
  <fieldset class="col-sm-3 col-md-4 ml-1">
      <legend>Student personal details</legend>
      
      <div class="form-group">
          <label>Address</label>
          <textarea class="form-control" name="address"></textarea>
        </div>
        <div class="form-group">
          <label>Parent's No</label>
          <input type="tel" class="form-control" name="spno"  placeholder="Parent's no">
          </div>
          <div class="form-group">
              <label>Alternate No</label>
              <input type="tel" class="form-control" name="sano" placeholder="Alternate no">
              </div>
              <div class="form-group">
                  <label>Date of Birth</label>
                  <input type="date" class="form-control" name="dob"  placeholder="DOB">
                  </div>
          <div class="form-group">
              <label>Gender</label><br>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male">
                  <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
                  <label class="form-check-label" for="inlineRadio2">Female</label>
                </div></div>
                <button class="btn btn-primary my-2">Submit</button>
                    <br>
  </fieldset>
  </div>
  </form>
  