<fieldset class="col-md-12 b">
    <legend>Attendance</legend>
    <form (ngSubmit)="onSubmit()">
            <div class="d-flex flex-row">
    <div class="form-group col-xs-2 col-md-4">
    <label>Date:</label>
    <input type="date" class="form-control" name="date" >
    </div> 
    <div class="form-group col-md-4">
        <label>Batch:</label>
        <select class="form-control" name="batch" placeholder="Batch" >
        <option *ngFor="let sub of batch1" value="{{sub.batchId}}" >{{sub.batchName}}</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <label>Session:</label>
        <select class="form-control" name="session" placeholder="Session">
        <option>Forenoon</option>
        <option>Afternoon</option>
    </select>
</div></div></form>
</fieldset>


<fieldset class="col-md-12">
    <div class="card my-5"> 
      <div class="card-body">
      <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
      <th scope="col">Student</th>
      <th scope="col">Present/Absent</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>Karthi</td>
     <td><div class="form-group">
        <input type="checkbox"  value="true">
        <!--*ngIf="value; then condition1 else condition2"
          <ng-template #condition1>Present</ng-template>
          <ng-template #condition2>Absent</ng-template>-->
    </div>
    </td>
      </tr>
      </tbody>
      </table>
      </div>
      </div>
      </fieldset>
     

